<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Could not find</title>
    <%- include("../components/head.ejs") %>
</head>
<body>
    <h1>There seems to have been an error</h1>
    <h2>We couldn't find a bracket with that ID.</h2>
</body>
</html>