
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}


body {

    --background: #FBF2C0;
    --textcolor: #48392A;
    --tertiary: #C06E52;
    --secondary: #43281C;

    scroll-behavior: smooth;
    
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    color: var(--textcolor);
    background-color: var(--background);
}


.node {
    font-size: 1em;
    text-align: center;
    margin: 0px max(10px, auto);
    padding: 20px;
    border-radius: 1em;
    border: 3px var(--tertiary) solid;
}

