
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}


body {

    --background: #FBF2C0;
    --textcolor: #48392A;
    --tertiary: #C06E52;
    --secondary: #43281C;
    
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    color: var(--textcolor);
    background-color: var(--background);
}

.node-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.node {
    font-size: 1em;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 1em;
    border: 3px var(--tertiary) solid;
}


.node:has(.player.not-started){
    background-color: #f8aa62;
}

.node:has(#current-matchup){
    background-color: #f8e918;
}